<section class="features">
    <div class="container features__container">
        <div class="features__left">
            <img src="/assets/images/Image.jpg" loading="lazy" width="585" height="651" alt="Work space">
            <div class="features__stats">
                <div class="features__stats-head">
                    <h4 class="features__stats-title text-p-default">Statictic</h4>
                    <img src="/assets/icons/more.svg" loading="lazy" alt="Button learn more" width="18"
                        height="19">
                </div>
                <div class="features__stats-item">
                    <img class="features__stats-img" src="/assets/icons/firstgraphick.svg" loading="lazy" width="95" height="87"
                        alt="Money shedule">
                    <div class="features__stats-item-info">
                        <h5 class="features__stats-item-title">Total Income</h5>
                        <div class="features__stats-item-price">
                            <span class="features__stats-item-price-num">$7.020</span>
                            <img src="/assets/icons/greenArrow.svg" width="20" height="20" loading="lazy"
                                alt="Green arrow">
                            <span class="features__stats-item-price-proc">15%</span>
                        </div>
                        <p class="features__stats-item-descr">Your <span
                                class="features__stats-item-descr-span">Income</span> of this month compared to last
                            month</p>
                    </div>
                </div>
                <div class="features__stats-item">
                    <img class="features__stats-img" src="/assets/icons/secondgraphick.svg" loading="lazy" width="95" height="87"
                        alt="Money shedule">
                    <div class="features__stats-item-info">
                        <h5 class="features__stats-item-title">Total Expense</h5>
                        <div class="features__stats-item-price">
                            <span class="features__stats-item-price-num">$2.150</span>
                            <img src="/assets/icons/redArrow.svg" width="20" height="20" loading="lazy"
                                alt="Red arrow">
                            <span class="features__stats-item-price-proc">10%</span>
                        </div>
                        <p class="features__stats-item-descr">Your <span
                                class="features__stats-item-descr-span">Expanse</span> of this month compared to last
                            month</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__right">
            <h2 class="features__title heading-h2">
                Passion to increase company revenue up to 85%
            </h2>
            <p class="features__descr text-p-medium">
                Automate your sales, marketing and service in one platform. Avoid date leaks and enable consistent
                messaging
            </p>
            <ul class="features__list">
                <li class="features__item text-p-medium">
                    <img src="/assets/icons/checked_icon.svg" loading="lazy" width="24" height="24" alt="Checked icon of list">
                    Close more deals with single - page contact managment
                </li>
                <li class="features__item text-p-medium">
                    <img src="/assets/icons/checked_icon.svg" loading="lazy" width="24" height="24" alt="Checked icon of list">
                    Enjoy one-click calling, call scripts and voicemail automation
                </li>
                <li class="features__item text-p-medium">
                    <img src="/assets/icons/checked_icon.svg" loading="lazy" width="24" height="24" alt="Checked icon of list">
                    Take stages and milestones of your deals to keep the sales process an track
                </li>
            </ul>
        </div>
    </div>
</section>